<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.efulltech.efupay.e_school">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name="com.efulltech.efupay.e_school.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.efulltech.efupay.e_school.NFC"></activity>
        <activity android:name="com.efulltech.efupay.e_school.Test" />
        <activity
            android:name="com.efulltech.efupay.e_school.Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.efulltech.efupay.e_school.MainActivity"
            android:label="PLEASE TAP YOUR CARD TO SCAN"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.efulltech.efupay.e_school.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>